/* MindMap.css */

.mindmap-container {
    height: 100vh;
    position: relative;
}

.get-mindmap-container {
    /*height: 100vh;*/
    height: 60vh;
    position: relative;
}

.add-node-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: #007bff;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 10px;
    cursor: pointer;
    font-size: 20px;
    z-index: 1;
}



.copy-link-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    z-index: 1;
}